/* Geral */
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    min-width:260px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #cbc6c6;
}

.allContentContainer{
    width:400px;
    background-color: #faf8ff;
    display: flex;
    flex-direction: column;
}

p {
    color: #A3A3A3;
}

img{
    border-radius:50%;
    width: 32px;
}

/* Barra de status */
.statusBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:6px 8px;
    height: 35px;
    width:100%;    background-color:#fff;
    position:relative;
    box-sizing: border-box;
}

.statusBar p{
    color: #333333;
    font-weight: 40px;
} 

.icons{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.icons img{
    height: 14px;
    width: auto;
    padding: 8px;

}

/* Perfil */
.avatarHome{
    display: flex;
    flex-direction: row;
    padding:32px 16px 22px;
    align-items:flex-start;

    
}

.avatar img{
    width:58px;
}

.avatarText h1{
    font-size:22px;
    font-weight:700px;
    color: #464646;
    line-height: 160%;
    padding-left:16px;

}

/* Consultas*/

.buttons {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:8px;
}

button {
background-color: #FFF;
width: 140px;
height: 48px;
color: #464646;
text-align: center;
padding:13px;
margin:8px;
font-weight: 600;
}

.audioCall:active {
    border: 1px solid #fa8c00;
    border-radius: 8px;
}

.videoCall{
    background-color: #FFB050;
    color: #FFF;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
border-radius: 8px;
}

.videoCall:active {
    border: 2px solid #fff;
}

.addressButton{
    color: #FFF;
    width: 296px;
    background-color: #4894FF;
box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
border-radius: 8px;
}

.addressButton:active {
    border: 2px solid #fff;
}

