:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --dark-grey: #101828;
  }

* {
    margin: 0;
	padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    }

/* Cabeçalho */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 2.75em;
    font-weight: 500;
}

.logo{
    display: inline-flex;
    align-items: center;
    font-size: 1.125em;
    height:24px;
}

.logo p{
    padding-right:2em;
}

.logo img{
    height:27px;
    width:27px;
    margin: 0px 8px;
}

.navigation {
    width: 22.6em;
    font-size: 1em;
    display: flex;
    justify-content:space-between;
}

.navigation a{
    padding-right:1em;
    flex-wrap: wrap;
}

.emptySpace {
    width: 8.9em;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.625em 1.125em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
 #join{
    background: var(--main-color);
    color:white;
    border: 1px solid var(--main-color);
    box-sizing: border-box;    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
 }

 /* Sessão 'Sobre nós' */

 .aboutUs{
     padding:6em 0 1.5em 0;
     display:flex;
     flex-direction:column;
     align-items:center;

 }

 .aboutUs h3{
     font-size: 1em;
     padding-bottom: 7rem;
     font-weight: 600;
     line-height: 1.5em;
     color: var(--main-color);
 }

 .aboutUs h1{
     font-size: 3em;
     color: var(--dark-grey);
     padding-bottom: 2.25rem;
 }

.aboutUs p{
    width: 40em;
    font-size: 1.25em;
    font-weight: 400px;
    line-height: 1.85em;
    text-align: center;
}

/* Sessão Metricas */

.metrics {
    padding:0 7em 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.metricItem {
    flex-direction: column;
    text-align: start;
    padding-right: 2em;
    width: 17.5em;  
}

.number{
    font-size: 3.75em;
    font-weight: bold;
    color: var(--main-color);
    line-height: 4.5rem;
    padding-bottom:0.75rem;
}

.text {
    font-size: 1.125em;
    color: var(--dark-grey);
    font-weight:500;
    line-height: 1.75rem;
    padding-bottom: 0.5em ;
}

.supportingText{
    font-size: 1em;
    font-weight:400;
    line-height: 1.5rem;
}

/* Sessão Vagas - Talentos */
.talents{
    padding: 6em 7em 4em;
    text-align:center;
}

.talents .container{
    padding: 0 14rem  4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge{
    background-color:rgba(142, 36, 36, 0.05);
    padding: .25em .75em;
    border-radius: 1em;
    font-weight: 500;
    font-size: 0.88em;
    line-height: 1.25em;
    width: 8em;
    color: var(--main-color);
}

.talents img{
    width:76em;
    height:25em;
}

.talents .container h2{
    padding: 1rem 0 1.25rem; 
    font-size:2.25em;
    line-height: 2.75rem;
    font-weight:600;
    color: var(--dark-grey);
}

.talents .container  p{
    font-size:1.35em;
    font-weight:400;
    line-height: 1.88rem;
}

/* Sessão Vagas - Vagas abertas */

.openVacancies{
    margin:0 21em 7em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.openVacancies h3 {
font-weight: 500;
font-size: 1.25em;
line-height: 1.88rem;
color: var(--dark-grey);
padding-bottom: 2rem;
}

.jobType{
    padding-bottom: 4em;
}

.job{
    padding: 1.5em;
    border: solid 1px #EAECF0;
    border-radius: 1em;
    box-sizing: border-box;
    width: 48em;
    margin-bottom: 1.5rem;
}

.job h4{
    color: var(--dark-grey);
    font-size: 1.125em;
    line-height: 1.75em;
    font-weight: 500;
    padding-bottom: 2rem;
}

.job p{
    display: inline;
    padding-right: 1.5rem;
}

/* Seção Depoimentos */
.testimonys{
    display:flex;
    justify-content:center;
}
.testimonys .container{
    padding: 0 7em 6em;
    background-color: rgba(195, 25, 25, 0.03);
    width: 76em;
    border-radius: 1em;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.text h5{
    padding:4em 4em 1em;
    color: var(--main-color);
    font-weight: 600;
    font-size: 0.88em;
    line-height: 1.25rem;
    text-align: center;
}

.text p{
    font-size:2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    text-align: center;
    color: var(--dark-grey);
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution img{
    padding: 2em 0; 
}

.name {
    font-size:1em;
    font-weight:500;
    line-height: 1.5rem;
    padding-bottom: 0.25em;
    color: var(--dark-grey);
}

.occupation{
    font-size:.88em;
}

