header{
    background:#ddd8d8;
    padding: 20px;
    }

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
}

 nav li {
        display: inline;
        margin: 0 0 0 15px;
    }
    
 nav a {
        text-transform: uppercase ;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
   