header{
    background:#ddd8d8;
    padding: 20px;
    }

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
}

nav li {
        display: inline;
        margin: 0 0 0 15px;
}
    
nav a {
        text-transform: uppercase ;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
}

.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 450px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}  

.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}

.servicos p {
    font-size: 18px;
    margin-top: 15px;
}

.valor {
    font-size: 22px;
    font-weight: bold;
   
}

.a-partir {
    font-size: 18;
    font-style: italic;
}

nav a:hover {
    font-size: 25px;
    color:#c47c41;
}

.atual {
    text-decoration: underline overline;
    text-decoration-style: dotted ;
   }

.servicos li:hover {
    border-color: #c47c41;
    }
.servicos li:hover h2{
    font-size: 34px

}

.servicos li:active {
    border-color: rgb(42, 68, 36);
}

footer {
    text-align: center;
    color: #ddd8d8;
    background-image: url(imagens/bg.jpg);
    padding: 40px 0;
    box-sizing: border-box;
}

#copyright {
    font-size: 18px;
    margin: 20px 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}


form label, form p{
    display: block;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 10px;
}


.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 30px;
    width: 50%;
}

.opcoes {
    padding: 10px 30px;
}

.checkbox {
    margin: 20px 0;
}

.botao-submit {
    font-size: 17px;
    margin: 15px 130px;
    padding: 17px 70px;
    border-radius: 10px;
}