body{
    font-family: 'Montserrat', sans-serif;
    
}

header{
    background:#ddd8d8;
    padding: 20px;
    }

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
}

nav li {
        display: inline;
        margin: 0 0 0 15px;
}
    
nav a {
        text-transform: uppercase ;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
}

.servicos {
    width: 940px;
    margin: 100px auto;
    padding: 50px 0;
}

.servicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 450px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}  

.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}

.servicos p {
    font-size: 18px;
    margin-top: 15px;
}

.valor {
    font-size: 22px;
    font-weight: bold;
   
}

.a-partir {
    font-size: 18;
    font-style: italic;
}

nav a:hover {
    font-size: 25px;
    color:#c47c41;
}

.atual {
    text-decoration: underline overline;
    text-decoration-style: dotted ;
}

.servicos li:hover {
    border-color: #c47c41;
}

.servicos li:hover h2{
    font-size: 34px
}

.servicos li:active {
    border-color: rgb(42, 68, 36);
}

footer {
    text-align: center;
    color: #ddd8d8;
    background-image: url(imagens/bg.jpg);
    padding: 40px 0;
    box-sizing: border-box;
}

#copyright {
    font-size: 18px;
    margin: 20px 0;
}

main {
    margin: 0 auto;
}

form {
    margin: 40px 0;
}


form label, form legend{
    display: block;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 30px;
    width: 50%;
}

.opcoes {
    padding: 10px 30px;
}

.checkbox {
    margin: 20px 0;
}

.botao-submit {
    font-size: 17px;
    font-weight: bold;
    margin: 15px 130px;
    padding: 15px 50px;
    border-radius: 10px;
}

.botao-submit:hover {
    background: #adabab;
    transition: 1s all;
    transform: scale(1.2)
}

select {
    font-size: 17px;
    margin: 10px 20px;
    padding: 5px ;
}

.periodo {
    margin: 20px 0;
}

/*Estilo para a página inicial*/

.main-home {
    font-size: 1.2em;
    color: black;
    background: linear-gradient(#ffffff,#a5a5a5, #686666) ;
}
.banner {
    width:100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1.5em 0 1em;
    clear: left;
    color: rgba(0, 0, 0, 0.8);
}

.principal p {
    margin: 0 0 1em;
    line-height: 1.2em;
}

.missao strong{
    font-style: italic;   
}

.utensilhos {
    float: left;
    width: 190px;
    margin: 0 20px 20px 0;
    border-radius: 20px;
    box-shadow: 10px 10px 7px rgb(51, 50, 50);
}

.beneficios {
    padding: 0 3em;
    margin: 0 auto;
}

.itens {
    line-height: 2em;
    margin: 0 auto;
}

.itens::before {
    content: "✯";
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagemBeneficios {
    width: 45%;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 7px rgb(51, 50, 50);
}

.mapa {
    text-align: center;
    margin: 0 auto;
}
.mapa p{
    margin-bottom: 1em;
}

.mapa-iframe{
    width: 940px;
    margin: 0 auto;
}
